html {
    min-height: 100%;
    position: relative;
    background-image: url(../imagenes/zombies.jpg);

}

body {
    margin: 0;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 15%;
    margin-right: 15%;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    gap: 10px;
    font: condensed 120% sans-serif;
    
}

h3 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: justify;
}

a {
    font-style: italic;
    outline: none;
    text-decoration: none;
    color: red;
}

a:visited {
    color: red;
}

a:hover {
    background: white;
}



img {
    border-radius: 10px;
}

div {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 10px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 70%;
    margin-top: 20px;
}
li {
    border-radius: 20px;
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

.principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 20px;
    padding-bottom: 10px;
}

.choose {
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1;       
}

.choose p {
    display: grid;
    grid-column: 1;
    grid-row: 2;
}

.imggrid {
    border-radius: 10px;
    display: grid;
    grid-column: 3;
    grid-row: 2;
}

.como {
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2;
    
}

.donde {
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-column: 1 / 3;
    grid-row: 3;
}

.apartados {
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-column: 3;
    grid-row: 1 / 3;
}


.telf {
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

.mail{
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-column: 1;
    grid-row: 2;
}

.maps {
    border-radius: 20px;
    display: grid;
    grid-column: 1;
    grid-row: 3;
}

.textovyi {
    border-radius: 20px;
    background-color: white;
    width: auto;
    height: auto;
}

p.textovyi::first-letter {
    font-size: 3em;
    opacity: .7;
    display: flex;
    flex-direction: row;
    width: auto;
}

.textoabout {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    font-style: italic;

}

#first-line {
    text-indent: 30px;
}

#videoy {
    display: grid;
    grid-column: 1;
    grid-row: 1;  
}

#videol {
    display: grid;
    grid-column: 3;
    grid-row: 1;
}
