html {
    min-height: 100%;
    position: relative;
    background-image: url(zombies.jpg);

}

body {
    margin: 0;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 20%;
    margin-right: 20%;
    
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    gap: 10px;
    font: condensed 120% sans-serif;
}


a {
    font-style: italic;
    outline: none;
    text-decoration: none;
    color: red;
}

a:visited {
    color: red;
}
a:hover {
    background: grey;
}

p {
    text-align: justify;
}

img {
    border-radius: 10px;
}

div {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 10px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 60%;
    margin-top: 20px;
}
li {
    border-radius: 20px;
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

.telf {
    border-radius: 20px;
    background-color: white;
    opacity: .7;
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

.mail{
    border-radius: 20px;
    background-color: white;
    opacity: .7;
    display: grid;
    grid-column: 1;
    grid-row: 2;
}

.maps {
    border-radius: 20px;
    opacity: .7;
    display: grid;
    grid-column: 1;
    grid-row: 3;
}

.choose {
    border-radius: 20px;
    background-color: white;
    opacity: .7;
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1;    
}

.choose p {
    display: grid;
    grid-column: 1;
    grid-row: 2;
}

.imggrid {
    border-radius: 10px;
    opacity: .7;
    display: grid;
    grid-column: 3;
    grid-row: 2;
}

.como {
    border-radius: 20px;
    background-color: white;
    opacity: .7;
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2;
}

.donde {
    border-radius: 20px;
    background-color: white;
    opacity: .7;
    display: grid;
    grid-column: 1 / 3;
    grid-row: 3;
}

.apartados {
    border-radius: 20px;
    background-color: white;
    opacity: .7;
    display: grid;
    grid-column: 3;
    grid-row: 1 / 3;
}

.principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.principalflex {
    font-style: italic;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: auto;
    height: auto;
}
#secundario {
    opacity: .7;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 80%;
    height: 20%;
    background-color: white;
    ;
}

#secundario2 {
    opacity: .7;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 20%;
    height: 40%;
    background-color: white;
    padding-bottom: 13%;
}

#first-line {
    text-indent: 30px;
}

#videoy {
    display: grid;
    grid-column: 1  ;
    grid-row: auto;
    
}

#videol {
    display: grid;
    grid-column: auto ;
    grid-row: auto;
}

#textovideos {
    opacity: .7;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 90%;
    background-color: white;
    ;
}

