body {
    background-image: url(zombies.jpg);
}

header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
    border-radius: 20px;
}
a {
    outline: none;
    text-decoration: none;
}
a:link {
    color: #850a29;
}
a:visited {
    color: #5a162a;
}
div ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
div #principal{
    margin-top: 10px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: right;
    column-gap: 10px;
    border-radius: 20px;
}
div img {
    border-radius: 20px;
}
#principal {
    opacity: .5;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    border-radius: 20px;
    justify-content: left;
    width: auto;
    height: auto;
    background-color: white;
}
#secundario {
    opacity: .8;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border-radius: 20px;
    width: 25%;
    height: 20%;
    background-color: blue;
    color: white
    ;
}

#first-line {
    text-indent: 30px;
}
p {
    text-align: justify;
}

#copy {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    
}

#redes {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    
 }