body {
    background-image: url(zombies.webp);
}
div{
    margin-top: 10px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
    border-radius: 20px;
    
}
img {
    border-radius: 20px;
}
#secundario {
    opacity: .7;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border-radius: 20px;
    width: 25%;
    height: 20%;
    background-color: blue;
    ;
}

#first-line {
    text-indent: 30px;
}
p {
    text-align: justify;
}
header {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#copy {
    float: left;
}

#redes {
    display: flex;
    float: right;
    width: 20px;
    height: 20px;
    flex-direction: row-reverse;    
}